@import "../../style/variables.scss";

.navbar {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  color: var(--light-color);
  justify-content: center;

  a {
    margin-right: 2rem;
    color: unset;
  }
}